[keyboard]
name = "nyrex65x2"
product_name = "Nyrex 65X2 RMK"
vendor_id = 0x05ac # lmao apple
product_id = 0x1393 # airpods
manufacturer = "Nyrex"
chip = "nrf52840"

# product id
# airpods case g1 0x1393
# airpods case g3 0x139a (magsafe g3)
# airpods case g4 0x13a0 (anc)
# airpods case p2 0x2025 (pro 2 usbc)

[chip.nrf52840]
dcdc_reg1 = true #enable reg1 for vddh. DO NOT ENABLE REG0



[layout]
rows = 5
cols = 16
layers = 3
matrix_map = """
(0, 0, L)   (0, 1, L)   (0, 2, L)   (0, 3, L)   (0, 4, L)   (0, 5, L)   (0, 6, L)       (0, 7, R)   (0, 8, R)   (0, 9, R)   (0, 10, R)  (0, 11, R)  (0, 12, R)  (0, 13, R)  (0, 14, R)  (0, 15, R)
(1, 0, L)   (1, 1, L)   (1, 2, L)   (1, 3, L)   (1, 4, L)   (1, 5, L)                   (1, 7, R)   (1, 8, R)   (1, 9, R)   (1, 10, R)  (1, 11, R)  (1, 12, R)  (1, 13, R)  (1, 14, R)  (1, 15, R)
(2, 0, L)   (2, 1, L)   (2, 2, L)   (2, 3, L)   (2, 4, L)   (2, 5, L)                               (2, 8, R)   (2, 9, R)   (2, 10, R)  (2, 11, R)  (2, 12, R)  (2, 13, R)  (2, 14, R)  (2, 15, R)
(3, 0, L)   (3, 1, L)   (3, 2, L)   (3, 3, L)   (3, 4, L)   (3, 5, L)   (3, 6, L)                   (3, 8, R)   (3, 9, R)   (3, 10, R)  (3, 11, R)  (3, 12, R)  (3, 13, R)  (3, 14, R)  (3, 15, R)
(4, 0, L)   (4, 1, L)   (4, 2, L)   (4, 3, L)   (4, 4, L)                                                       (4, 9, R)   (4, 10, R)  (4, 11, R)  (4, 12, R)  (4, 13, R)  (4, 14, R)  (4, 15, R)
"""

#["0,0",             "0,1",  "0,2",  "0,3",  "0,4",  "0,5",  "0,6",  {x:1},  "0,7",  "0,8",  "0,9",          "0,10",         "0,11",         "0,12",         "0,13",         "0,14",         "0,15"],
#[{w:1.5},"1,0",     "1,1",  "1,2",  "1,3",  "1,4",  "1,5",          {x:1},  "1,7",  "1,8",  "1,9",          "1,10",         "1,11",         "1,12",         "1,13", {w:1.5},"1,14",         "1,15"],
#[{w:1.75},"2,0",    "2,1",  "2,2",  "2,3",  "2,4",  "2,5",          {x:1},          "2,8",  "2,9",          "2,10",         "2,11",         "2,12",         "2,13",{w:2.25},"2,14",         "2,15"],
#[{w:1.25},"3,0",    "3,1",  "3,2",  "3,3",  "3,4",  "3,5",  "3,6",  {x:1},          "3,8",  "3,9",          "3,10",         "3,11",         "3,12",{w:1.75},"3,13",         "3,14",         "3,15"],
#[{w:1.25},"4,0",    "4,1",  "4,2",  "4,3",  {w:2.75},"4,4",         {x:1,           w:2.25},"4,9", {w:1.25},"4,10",{w:1.25},"4,11",{w:1.25},"4,12",         "4,13",         "4,14",         "4,15"]


# Layer 0 (Base Layer)
[[layer]]
name = "Base"
keys = """
Escape  Kc1         Kc2     Kc3     Kc4     Kc5     Kc6             Kc7             Kc8             Kc9             Kc0         Minus       Equal       Backspace       Backspace   MediaNextTrack
Tab     Q           W       E       R       T                       Y               U               I               O           P           LeftBracket RightBracket    Delete      MediaPrevTrack
LCtrl   A           S       D       F       G                                       H               J               K           L           Semicolon   Quote           Enter       MediaPlayPause
LShift  LShift      Z       X       C       V       B                               N               M               Comma       Dot         Slash       RShift          Up          PrintScreen
LCtrl   MO(1)       LGui    LAlt    Space                                                           LT(1, Space)    RAlt        RGui        RCtrl       Left            Down        Right
"""     #           #       #       #       #       #               #               #               #               #           #           #           #               #           #

# Layer 1 (Function Layer)
[[layer]]
name = "Function"
keys = """
Grave   F1          F2      F3      F4      F5      F6              F7              F8              F9              F10         F11         F12         _               _           AudioVolUp
_       _           Home    Up      End     PageUp                  MouseWheelUp    MouseBtn1       MouseUp         MouseBtn2   _           _           _               Backslash   AudioVolDown
_       CapsLock    Left    Down    Right   PageDown                                MouseWheelDown  MouseLeft       MouseDown   MouseRight  _           _               _           AudioMute
_       _           User0   User1   User2   User5   User6                           MouseBtn4       MouseBtn5       _           _           _           _               _           _
_       _           _       _       _                                                               _               _           _           _           _               _           _
"""     #           #       #       #       #       #               #               #               #               #           #           #           #               #           #

# Layer 2 (Blank Layer)
[[layer]]
name = "Blank"
keys = """
_       _           _       _       _       _       _               _               _               _               _           _           _           _               _           _
_       _           _       _       _       _                       MouseWheelUp    MouseBtn1       MouseUp         MouseBtn2   _           _           _               _           _
_       _           _       _       _       _                                       MouseWheelDown  MouseLeft       MouseDown   MouseRight  _           _               _           _
_       _           _       _       _       _       _                               MouseBtn4       MouseBtn5       _           _           _           _               _           _
_       _           _       _       _                                                               _               _           _           _           _               _           _
"""     #           #       #       #       #       #               #               #               #               #           #           #           #               #           #



[ble]
enabled = true
battery_adc_pin = "vddh"
default_tx_power = 8 #boost signal
ble_use_2m_phy = true #default

[split]
connection = "ble"

[split.central]
rows = 5
cols = 7
row_offset = 0
col_offset = 0

[split.central.matrix]
matrix_type = "normal"  # This is the default, can be omitted
row_pins = ["P0_26", "P0_27", "P0_05", "P0_06", "P0_07"]
col_pins = ["P0_31", "P0_30", "P0_28", "P0_02", "P0_03", "P1_14", "P1_13"]

[[split.peripheral]]
rows = 5
cols = 9
row_offset = 0
col_offset = 7

[split.peripheral.matrix]
matrix_type = "normal"  # This is the default, can be omitted
row_pins = ["P0_03", "P0_02", "P0_28", "P0_30", "P0_31"]
col_pins = ["P0_12", "P0_11", "P1_09", "P1_08", "P0_07", "P0_06", "P0_05", "P0_27", "P0_26"]



[[split.central.output]]
pin = "P0_25" # Only the pin name is required, the rest of the fields are optional
initial_state_active = false
low_active = false

[[split.peripheral.output]]
pin = "P0_25" # Only the pin name is required, the rest of the fields are optional
initial_state_active = false
low_active = false


[host]
# Unlock combination: simultaneous press of specified keys
# Format: [[row, col], [row, col], ...]
unlock_keys = [[0, 2], [0, 4]] # Keys at (row=0,col=2) and (row=0,col=5)

[rmk]
split_peripherals_num = 1

mouse_key_interval = 20 #mouse movement speed, interval in ms
mouse_wheel_interval = 80 #mouse wheel speed, interval in ms
debounce_time = 20 #debounce time in ms, default 20
ble_profiles_num = 3 
split_central_sleep_timeout_seconds = 0 #central sleep timeout in seconds, 0 to disable

morse_max_num = 40 #number of morse code definitions
max_patterns_per_key = 8 #max number of dots/dashes per morse code definition, default 8



[behavior.morse]
enable_flow_tap = true
prior_idle_time = "120ms"
hold_on_other_press = true
hold_timeout = "100ms"
gap_timeout = "250ms"

morses = [

    { morse_actions = [
        { pattern = ".-", action = "A" },
        { pattern = "-...", action = "B" },
        { pattern = "-.-.", action = "C" },
        { pattern = "-..", action = "D" },
        { pattern = ".", action = "E" }, # Might be redundant based on TH(E,T,MRZ)
        { pattern = "..-.", action = "F" },
        { pattern = "--.", action = "G" },
        { pattern = "....", action = "H" },
        { pattern = "..", action = "I" },
        { pattern = ".---", action = "J" },
        { pattern = "-.-", action = "K" },
        { pattern = ".-..", action = "L" },
        { pattern = "--", action = "M" },
        { pattern = "-.", action = "N" },
        { pattern = "---", action = "O" },
        { pattern = ".--.", action = "P" },
        { pattern = "--.-", action = "Q" },
        { pattern = ".-.", action = "R" },
        { pattern = "...", action = "S" },
        { pattern = "-", action = "T" }, # Might be redundant based on TH(E,T,MRZ)
        { pattern = "..-", action = "U" },
        { pattern = "...-", action = "V" },
        { pattern = ".--", action = "W" },
        { pattern = "-..-", action = "X" },
        { pattern = "-.--", action = "Y" },
        { pattern = "--..", action = "Z" },
        { pattern = ".----", action = "Kc1" },
        { pattern = "..---", action = "Kc2" },
        { pattern = "...--", action = "Kc3" },
        { pattern = "....-", action = "Kc4" },
        { pattern = ".....", action = "Kc5" },
        { pattern = "-....", action = "Kc6" },
        { pattern = "--...", action = "Kc7" },
        { pattern = "---..", action = "Kc8" },
        { pattern = "----.", action = "Kc9" },
        { pattern = "-----", action = "Kc0" },
        { pattern = ".-.-.-", action = "Dot"},
        { pattern = "--..--", action = "Comma" },
        { pattern = "..--..", action = "Slash" }
    ], profile = "MRZ" }
]



[behavior.morse.profiles]
# Fast hold
FH = { hold_on_other_press = true, unilateral_tap = false}

# Morse 
MRZ = { normal_mode = true, unilateral_tap = false, hold_timeout = "200ms", gap_timeout = "200ms" }

#hold_timeout = "100ms" #default 250
#hold_on_other_press = true #default false



[storage]
# Clear only layout/keymap data, preserve BLE bonds
clear_layout = false # SET ONLY TO TRUE FOR TEST FIRMWARE